In [19]:
import numpy as np
import numexpr
import pandas as pd

C:\Users\SKUP\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\SKUP\Anaconda3\lib\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
rng = np.random.RandomState(42)

In [12]:
x = rng.rand(int(1E6))
y = rng.rand(int(1E6))
%timeit x+y

2.85 ms ± 163 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
%timeit np.fromiter((xi+yi for xi,yi in zip(x,y)),dtype=x.dtype,count=len(x))

160 ms ± 1.49 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [15]:
mask = (x>0.5) & (y<0.5)
mask

array([False, False, False, ..., False, False,  True])

In [18]:
maskexpr = numexpr.evaluate('(x>0.5) & (y<0.5)')
np.allclose(mask,maskexpr)

True

In [20]:
nrows,ncols = 100000,100
rng = np.random.RandomState(42)

df1,df2,df3,df4 = (pd.DataFrame(rng.rand(nrows,ncols)) for i in range(4))

In [22]:
df3

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.381785,0.884280,0.450580,0.889203,0.400178,0.329899,0.374920,0.289165,0.856012,0.170531,...,0.232548,0.427080,0.687908,0.990223,0.532107,0.291570,0.604532,0.510344,0.178462,0.816248
1,0.575967,0.057404,0.320802,0.174745,0.708598,0.165073,0.852300,0.841379,0.810541,0.867123,...,0.205949,0.183090,0.481792,0.479930,0.360370,0.920427,0.515166,0.698365,0.925812,0.272917
2,0.553476,0.657017,0.721860,0.058866,0.818086,0.882324,0.633707,0.786487,0.107093,0.659608,...,0.725832,0.627375,0.387747,0.204460,0.973627,0.262530,0.912395,0.852041,0.050451,0.668992
3,0.841810,0.738977,0.768721,0.352721,0.454399,0.915650,0.164899,0.872948,0.419942,0.671492,...,0.917378,0.928159,0.034869,0.679377,0.351755,0.233520,0.620001,0.338868,0.797963,0.447284
4,0.069417,0.370450,0.329881,0.882140,0.688254,0.393034,0.288496,0.248113,0.835122,0.668993,...,0.723569,0.378604,0.294903,0.595871,0.940018,0.544825,0.030322,0.157838,0.364742,0.932007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.653439,0.577346,0.825217,0.780580,0.917081,0.212901,0.593976,0.254550,0.842179,0.516361,...,0.364815,0.103298,0.065614,0.843703,0.140892,0.981793,0.316524,0.505177,0.011505,0.435139
99996,0.563796,0.434376,0.829309,0.620991,0.626362,0.379460,0.444091,0.538880,0.217070,0.774119,...,0.791762,0.015829,0.226943,0.322211,0.151096,0.575034,0.594906,0.147203,0.341684,0.998307
99997,0.422315,0.444597,0.810355,0.398208,0.847200,0.754816,0.404969,0.438984,0.671320,0.907817,...,0.337849,0.622438,0.265944,0.828262,0.727854,0.753011,0.260171,0.341418,0.820072,0.341222
99998,0.336348,0.520296,0.724958,0.376817,0.398625,0.809996,0.634984,0.759740,0.779359,0.371569,...,0.431090,0.524956,0.822374,0.922118,0.004101,0.340958,0.561711,0.405932,0.219157,0.935296
99999,0.520489,0.929742,0.701161,0.079113,0.477068,0.568126,0.693307,0.260624,0.128251,0.217928,...,0.782768,0.653314,0.680052,0.468902,0.661500,0.156686,0.640828,0.288135,0.313195,0.151012

In [24]:
%timeit df1+df2+df3+df4

101 ms ± 2.75 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [25]:
pd.eval('df1 + df2 + df3 + df4')

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2.456085,2.240325,2.189299,2.796486,0.997756,1.857199,0.836188,1.993636,3.384643,1.851474,...,1.405156,1.972001,3.018147,2.220360,3.010689,1.747911,2.386533,1.733311,1.431434,1.987172
1,1.930732,1.325833,2.100320,1.031509,2.216550,2.322945,2.221711,2.551356,1.446013,1.150052,...,1.295991,1.298014,2.191522,1.514702,1.013891,2.682375,2.355956,1.905342,2.432560,1.438647
2,2.961585,1.241173,1.292687,1.559529,3.244460,1.727601,1.508593,2.373529,1.092988,1.932929,...,1.857067,2.436111,2.279347,2.240607,2.450652,1.527546,2.098585,1.540268,1.685716,1.544752
3,1.325278,2.311100,3.153195,2.428513,2.468706,2.168389,1.036675,2.543273,1.985104,1.664177,...,2.248197,2.597650,1.624677,1.896175,1.075806,2.305705,3.019780,1.157161,3.050878,2.029253
4,1.107165,1.998018,2.171741,3.011473,2.403474,1.785172,1.148053,0.842213,3.165272,1.333032,...,2.001123,2.899136,1.595563,2.134547,2.112748,2.100429,2.224902,0.643061,2.949058,3.143277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.948321,1.751224,2.276621,2.203974,2.752196,1.811677,1.544824,1.347874,2.406432,2.045719,...,2.156290,1.469662,1.239475,2.085855,1.546402,2.670792,0.801108,1.924963,1.309836,2.598576
99996,2.249443,2.248954,2.840738,2.278969,1.552147,1.613808,2.537029,2.572771,1.855158,1.570820,...,1.528213,1.484577,1.659783,1.798531,1.920396,3.043902,1.965024,1.725764,1.465961,1.805480
99997,1.942065,2.352778,1.104218,1.777017,2.159435,1.715014,2.424385,2.013074,1.637694,3.488990,...,2.159156,2.096489,1.486934,2.669343,2.069421,1.332025,2.191244,2.179376,1.816149,1.682464
99998,2.681177,0.958664,2.867072,1.127300,1.277971,1.268119,1.756763,2.250528,1.326825,2.479023,...,1.608354,2.040729,2.223907,3.272577,1.933145,2.578746,1.132848,1.919029,2.201389,1.950606
99999,2.300429,2.501596,2.385804,1.518952,2.691974,2.580092,2.047616,1.384078,1.879208,1.342491,...,1.807613,1.410310,2.396323,1.458223,3.108393,1.609983,1.459910,2.062004,1.693840,1.758297

In [26]:
np.allclose(df1+df2+df3+df4,pd.eval('df1+df2+df3+df4'))

True

In [27]:
df1,df2,df3,df4,df5 = (pd.DataFrame(rng.randint(0,1000,(100,3))) for i in range(5))

In [29]:
res1 = -df1*df2/(df3+df4)-df5
res1.head(5)

             0           1            2
0  -378.832484  -24.118644 -1323.546689
1  -324.347167 -659.535438  -872.309261
2 -1110.644407 -233.046008  -408.187447
3  -824.710879 -637.978373 -1450.313752
4 -1309.606516 -638.565445  -333.952637

In [31]:
res2 = pd.eval('-df1*df2/(df3+df4)-df5')
res2.head(5)

             0           1            2
0  -378.832484  -24.118644 -1323.546689
1  -324.347167 -659.535438  -872.309261
2 -1110.644407 -233.046008  -408.187447
3  -824.710879 -637.978373 -1450.313752
4 -1309.606516 -638.565445  -333.952637

In [32]:
np.allclose(res1,res2)

True

In [36]:
result1 = (df1 <df2) & (df2 <= df3) & (df3!=df4)
result2 = pd.eval('(df1 <df2) & (df2 <= df3) & (df3!=df4)')
np.allclose(result1,result2)

True

In [38]:
res3 = df2.T[0]+df3.loc[1]
res4 = pd.eval('df2.T[0]+df3.loc[1]')
np.allclose(res3,res4)

True

In [40]:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])

df.head(5)

          A         B         C
0  0.818708  0.993065  0.998051
1  0.007756  0.371926  0.229226
2  0.460028  0.189491  0.357344
3  0.993607  0.994859  0.828843
4  0.141080  0.862088  0.409730

In [43]:
res5 = (df['A'] + df['B'])/(df['C']-1)
res6 = pd.eval('(df.A + df.B)/(df.C - 1)')
np.allclose(res5,res6)

True

In [45]:
res7 = df.eval('(A+B)/(C-1)')

In [46]:
np.allclose(res5,res7)

True

In [50]:
df.eval('D = (A+B)/C',inplace=True)

In [51]:
df.head(5)

          A         B         C         D
0  0.818708  0.993065  0.998051  1.815310
1  0.007756  0.371926  0.229226  1.656368
2  0.460028  0.189491  0.357344  1.817626
3  0.993607  0.994859  0.828843  2.399087
4  0.141080  0.862088  0.409730  2.448366

In [54]:
df_mean = df.mean(1)
r1 = df['A']+df_mean
r2 = df.eval('A + @df_mean')
np.allclose(r1,r2)

True

In [56]:
resultt1 = df[(df.A<0.5) & (df.B<0.5)]
resultt2 = pd.eval('df[(df.A<0.5) & (df.B<0.5)]')

np.allclose(resultt1,resultt2)

True

In [58]:
resulttt2 = df.query('A<0.5 & B<0.5')
np.allclose(resultt1,resulttt2)

True

In [60]:
Cmean = df['C'].mean()
res1 = df[(df['A']<Cmean) & (df['B']<Cmean)]
res2 = df.query('(A < @Cmean) & (B < @Cmean)')

np.allclose(res1,res2)

True